@import '../../constants/colors';
@import '../../constants/borders';

.button {
  background: $primary-color;
  border-radius: $border-radius;
  border: 0;
  color: $primary-contrast-color;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
}
