$poison-purple: rgb(123, 0, 253);
$pig-iron: rgb(72, 72, 72);
$steel-wool: rgb(119, 119, 119);
$snowbank: rgb(233, 233, 233);
$wasabi: rgb(172, 208, 133);
$carnation: rgb(247, 117, 139);
$white: white;
