@import '../../constants/colors.scss';

.header {
  background: $primary-color;
  color: $primary-contrast-color;
  padding: 0.25rem;
  line-height: 1;
}

.pageTitle {
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
